$general-text-color: #fff;

body {
  color: $general-text-color;
  font-family: "Josefin Sans", sans-serif;
  align-content: center;
  max-width: 1773px;
  width: 100%;
  align-content: center;
  margin: auto;
}
.background-container1 {
  height: 685px;
  background-image: url("../images/background2.png");
  display: flex;
  align-content: center;
}
.main-container1 {
  max-width: 80%;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  align-content: baseline;
  align-items: baseline;
  display: flex;
  gap: 50px;
}
.text-container1 {
  max-width: 560px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-self: flex-end;
  padding: 50px 0;
}
.text-container1 h2 {
  font-family: "Aleo";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}
.button {
  width: 228px;
  height: 63px;
  background-color: #5474fd;
  color: $general-text-color;
  border: none;
}
.container-pictures1 {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 560px;
  width: 100%;
  padding: 50px;
}
.container-pictures1 img {
  width: 350px;
  height: 220px;
}

.picture2 {
  align-self: flex-end;
}
.background-container2 {
  background-color: #333333;
  height: fit-content;
  width: 100%;
  margin: auto;
}
.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  height: fit-content;
  margin: auto;
}
.background-container3 {
  background-image: url("../images/background3.png");
  height: 700px;
  padding: 50px;
}
.center-container2 {
  display: flex;
  max-width: 80%;
  margin: auto;
  justify-content: space-around;
  margin: 50px;
}
.card {
  width: 543px;
  height: 374px;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  padding: 50px 32px;
  justify-content: center;
}
.card button {
  margin-top: 50px;
}
.card1 {
  opacity: 0.9;
}
.background-container4 {
  background-image: url("../images/background4.png");
  padding: 50px;
}
.card2 {
  justify-self: flex-end;
}
.background-container5 {
  background-image: url("../images/background5.png");
  height: 731px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container5 {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  width: 100%;
  text-align: center;
  align-items: center;
}
.review-container {
  display: flex;
  text-align: left;
  max-width: 1107px;
  max-height: 284px;
}
.review-container img {
  width: 445px;
  height: 284px;
}
.container5 h2 {
  font-family: "Aleo";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 50px;
}
.review-container h3 {
  font-family: "Josefin Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.review-container p {
  color: #e8e8e8;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}
.text-box {
  width: 668px;
  width: 100%;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  padding: 35px;
}
