$general-text-color: #fff;

body {
  color: $general-text-color;
  font-family: "Josefin Sans", sans-serif;
  align-content: center;
  max-width: 1773px;
  width: 100%;
  align-content: center;
  margin: auto;
}
.background-container1 {
  height: 685px;
  background-image: url("../images/background2.png");
  display: flex;
  align-content: center;
}
.main-container1 {
  max-width: 80%;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  align-content: baseline;
  align-items: baseline;
  display: flex;
  gap: 50px;
}
.text-container1 {
  max-width: 560px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-self: flex-end;
  padding: 50px 0;
}
.text-container1 h2 {
  font-family: "Aleo";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}
.button {
  width: 228px;
  height: 63px;
  background-color: #5474fd;
  color: $general-text-color;
  border: none;
}
.container-pictures1 {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 560px;
  width: 100%;
  padding: 50px;
}
.container-pictures1 img {
  width: 350px;
  height: 220px;
}

.picture2 {
  align-self: flex-end;
}
.background-container2 {
  background-color: #333333;
  height: fit-content;
  width: 100%;
  margin: auto;
}
.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  height: fit-content;
  margin: auto;
}
.background-container3 {
  background-image: url("../images/background3.png");
  height: 700px;
  padding: 50px;
}
.center-container2 {
  max-width: 80%;
  display: flex;
  max-width: 80%;
  margin: auto;
}
.card {
  width: 543px;
  height: 374px;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  padding: 50px 32px;
}
.card button {
  margin-top: 50px;
}
.card1 {
  opacity: 0.9;
  justify-content: center;
}
